
<html>
  <head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      .loginForm{
        max-width: 500px;
        margin: 100px auto 0;
      }
      h2{
        width: 100%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <form class="loginForm" method="post">
      {% csrf_token %}
      <h2>Login:</h2>
      <div class="mb-3">
        <label for="id_username" class="form-label">Username</label>
        <input type="text" name="username" maxlength="150" required="" id="id_username" class="form-control">
      </div>
      <div class="mb-3">
        <label for="id_password" class="form-label">Password</label>
        <input type="password" name="password" required="" id="id_password" class="form-control">
      </div>
      <a href="{% url 'register'%}">sign up</a>
      <button type="submit" class="btn btn-primary float-end">Submit</button>
    </form>
  </body>
    <!-- <h1>login</h1>
    <form method="post", autocomplete="off">

        {% csrf_token %}

        {{loginform.as_p}}
        <input type="submit" value="login">


    </form> -->
</html>
<!-- {% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you set up the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %} -->