<html>
    <head>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <style>
            .card{
                margin: 0 0 20px 20px;
            }
        </style>
    </head>
    <body>
        {% include 'common/navbar.html'  %}
        {% block content %}
        {% load static%}
        <div class="container-fluid">
        {% for ticket in user_tickets %}

            <div class="card float-start" style="width: 18rem;">
                <img src="{% static ticket.qr_generator %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ticket.projection}}</h5>
                    <p class="card-text"></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">place: {{ticket.seat}}</li>
                    <li class="list-group-item">time: {{ticket.projection.time}}</li>
                    <li class="list-group-item">date: {{ticket.projection.start_date}}</li>
                </ul>
            </div>
            
        {% endfor %}
        </div>
        {% endblock %}
            
        </body>
        </html>